.movies-container {
  padding: 10px;
}

.ant-btn {
  margin: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.image-container > img {
  height: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.movie-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}